<app-nabvar></app-nabvar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Sobre Nosotros</h1>
            <p class="card-text">
                Somos Mundo De Compras, tu destino online para encontrar una amplia variedad de productos de calidad al mejor precio.
            </p>
            <p class="card-text">
                Nuestra misión es proporcionar una experiencia de compra fácil y conveniente, ofreciendo productos que satisfagan tus necesidades y superen tus expectativas.
            </p>
            <p class="card-text">
                En Mundo De Compras, valoramos la satisfacción del cliente y nos esforzamos por mantener altos estándares de calidad y servicio en todo lo que hacemos.
            </p>
            <p class="card-text">
                ¡Gracias por elegirnos y confiar en nosotros para tus compras online!
            </p>
        </div>
    </div>
</div>
