<app-nabvar-admin></app-nabvar-admin>

<div class="container mt-3">
	<div class="card mt-5">
		<div class="card-header">Gestionar Usuarios</div>
        <div class="card-body">
            <form class="d-flex">
				<input type="text" id="email_address" class="form-control me-2" name="email-address" placeholder="Ingrese el nombre" required autofocus [(ngModel)]="this.campoNombre">
                <button class="btn btn-outline-success" type="submit"  (click)="obtenerUsuarioPorNombre()">Search</button>
            </form>
        </div>
        <div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let usuario of usuarios; let i = index">
						<td>{{usuario.nombre}}</td>
						<td>{{usuario.apellidos}}</td>
                        <td>{{usuario.correo}}</td>
						<td> 
							<button class="btn btn-danger" (click)="eliminarUsuario(usuario.correo)">Eliminar</button>
						</td>	             
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>