<div class="register-page">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">Registrarse</div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3 row">
                                <label for="nombre" class="col-md-4 col-form-label">Nombre</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.nombre" type="text" id="nombre" class="form-control" name="nombre" required autofocus>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="apellidos" class="col-md-4 col-form-label">Apellidos</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.apellidos" type="text" id="apellidos" class="form-control" name="apellidos" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="numeroIdentificacion" class="col-md-4 col-form-label">N° Identificación</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.numeroIdentificacion" type="number" id="numeroIdentificacion" class="form-control" name="numeroIdentificacion" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="email" class="col-md-4 col-form-label">Email</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.email" type="email" id="email" class="form-control" name="email" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="contrasena" class="col-md-4 col-form-label">Contraseña</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.contra" type="password" id="contrasena" class="form-control" name="contrasena" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="confirmeContra" class="col-md-4 col-form-label">Confirme Contraseña</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]="datosUsuario.confirmeContra" type="password" id="confirmeContra" class="form-control" name="confirmeContra" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-success btn-block" (click)="registrar()">
                                        Registrarse
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
