<app-nabvar></app-nabvar>

<div class="container mt-3">
    <div *ngFor="let categoria of categorias" class="mb-4">
        <h3>{{ categoria }}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-sm-auto" *ngFor="let producto of getProductosPorCategoria(categoria)">
                <div class="card h-100">
                    <img src="assets/smartphone.png" class="card-img-top fixed-size-img" alt="Imagen de producto">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Precio: ${{ producto.precio }}</li>
                        <li class="list-group-item">Stock: {{ producto.stock }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary disabled" onclick="return false;">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
