<app-nabvar-admin></app-nabvar-admin>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">Gestionar Categorias</div>
        <div class="card-body">
            <table id="empleadosTable" border="1" class="table table-bordered table-lg">
                <thead class="thead-light text-center">
                    <tr>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let categoria of categorias; let i = index">
                        <td>{{categoria.nombreCategoria}}</td>
                        <td>
                            <a (click)="eliminarCategoria(categoria)" class="btn btn-danger ml-4" style="margin-left: 10px;"> Eliminar </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success" (click)="crearNuevo(mymodal)">
                Crear nuevo
            </button>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Información</h4>
    </div>
    <div class="modal-body">
        <form class="form-producto" #formProducto="ngForm" (ngSubmit)="guardarProducto(formProducto)">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la categoría"
                    [(ngModel)]="nuevaCategoria.nombre" required>
            </div>
            <div style="margin-top: 10px;">
                <button type="submit" class="btn btn-light">Guardar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>
