.label-wrapper {
    display: flex;
    align-items: baseline;
  }
  
.label-wrapper > label {
  width: 120px;
  margin-right: 10px;
}

.input-wrapper {
  flex: 1;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-left: 10px;
}
  